<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.7.0" targetFramework="net452" />
  <package id="CommandLineParser" version="2.2.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="fiskaltrust.interface" version="1.0.16322.1179" targetFramework="net452" />
  <package id="fiskaltrust.interface.utilities" version="1.1.17277.2884" targetFramework="net452" />
  <package id="fiskaltrust.service.ef" version="1.1.17057.1771" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
</packages>