<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="offlinepackages" value="src/offlinepackages" />
    <add key="buildserverofflinepackages" value="%BUILD_SOURCESDIRECTORY%\src\offlinepackages" /> <!-- This feed is needed for vsts to grab the local packages -->
  </packageSources>
</configuration>