<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.7.0" targetFramework="net452" />
  <package id="CommandLineParser" version="2.2.1" targetFramework="net452" />
  <package id="fiskaltrust.interface.utilities" version="1.1.17277.2884" targetFramework="net452" />
  <package id="fiskaltrust.service.storage" version="1.2.18164.4805" targetFramework="net452" />
</packages>